.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  height: 5rem;
}

h1 {
  color: #1a1c20;
  font-size: 3rem;
}

a {
  font-size: 2rem;
  color: #1a1c20;
}

li {
  display: inline-block;
  margin-left: 2rem;
  transition: 0.5s;
  border-radius: 50px;
  transition: 0.5s;
}

a:hover {
  color: #6d48b1;
}

.ham {
  height: 4rem;
  display: none;
}

@media only screen and (max-width: 700px) {
  ul {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    position: relative;
    top: 5rem;
  }
  .ham {
    display: block;
    position: relative;
    left: 20rem;
  }
}
