.hero {
  display: flex;
  max-width: 100rem;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.profile-info > h1 {
  font-size: 7rem;
  margin: 1rem;
  font-weight: 700;
}
.profile-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  max-width: 100rem;
  font-size: 3rem;
  margin: 1rem;
}
.profile-pic {
  width: 30rem;
  height: 34rem;
  border-radius: 2rem;
  background-image: url(https://www.100percent.com/cdn/shop/t/300/assets/tech-aircraft2-section-05-visual-06.jpg?v=120709914432827875641688754410);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1020px) {
  .hero {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }

  .profile-info {
    text-align: center;
    width: 100%;
  }

  .profile-text {
    font-size: 1.5rem;
    text-align: left;
  }

  .fadetext {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: left;
    text-align: left;
  }
}
